.card {
    min-height: 60px;
    background-color: white;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.05);
    width: 60%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 10px;
    word-break: break-all;
    overflow: hidden;
    position: relative;
}

.delete {
    font-size: 1em;
    position: absolute;
    background-color: transparent;
    color: black;
    top: .5em;
    right: .5em;
}